# ЭТО ПРИМЕР ФАЙЛА .env !!
# ТАМ ГДЕ ЗНАЧЕНИЯ НЕ УКАЗАНЫ - НУЖНО ВСТАВИТЬ СВОИ.
# В MAIN_ADMIN НУЖНО ВСТАВИТЬ ОДИН ID
# ТАМ ГДЕ ДАННЫЕ ЗАПОЛНЕНЫ - НЕ НУЖНО ИЗМЕНЯТЬ
# НЕ ЗАБУДЬТЕ ПЕРЕИМЕНОВАТЬ ФАЙЛ КАК .env
# ЭТИ КОММЕНТАРИИ НАДО УДАЛИТЬ!


BOT_CONTAINER_NAME=bot_container_channel
BOT_IMAGE_NAME=botimage_channel
BOT_NAME=channel_photo_name

BOT_TOKEN=
MAIN_ADMIN=

CHANNEL_ID=

DB_HOST=pg_database
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
REDIS_PASSWORD=